# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
media/
staticfiles/
static/
# If using Django's SECRET_KEY in a separate file, uncomment below
# secret_key.txt

# Local env files
.env
.local
*.env.*.local
.envrc
.env.*
!env.example

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Django migration files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# REACT
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.yarn-integrity
.pnp.*
.yarn-cache/
.yarnrc.yml
.next
out
# Build directory
build/
dist/

# Dependency directories
node_modules/
jspm_packages/

# Parcel cache
.cache/
.parcel-cache/

# IDE / Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Mac OS
.DS_Store

# Logs
*.log

# Optional NPM/Yarn dependency directories
node_modules/
.pnp/
.pnp.js

# Testing
coverage/
.nyc_output/

/company_management_system\settings.py